<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="0">

{% load static %}
<center>
<h1>健康数据</h1>
<h2>本数据以2020-7-17为第一天</h2>
<h2>白细胞计数</h2>
<img src="{% static 'images/leukocyte.jpg' %}" alt="">
<h2>血小板总数</h2>
<img src="{% static 'images/platelet.jpg' %}" alt="">
<h2>中性粒细胞绝对值</h2>
<img src="{% static 'images/neutrophil.jpg' %}" alt="">
<h2>CA199</h2>
<img src="{% static 'images/CA199.jpg' %}" alt="">
<h2>CA125</h2>
<img src="{% static 'images/CA125.jpg' %}" alt="">
<h2>CEA</h2>
<img src="{% static 'images/CEA.jpg' %}" alt="">
</center>