<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="0">

<center>
<h1>无形的手</h1>

<h2><a href="//81.71.26.138:8080/admin/">数据管理</a></h2>

<h2><a href="//81.71.26.138:8080/health/input">健康数据</a></h2>

<h2><a href="//81.71.26.138:8080/search/input">股票数据</a></h2>

<h2><a href="//81.71.26.138:8080/dormitory/input">宿舍管理</a></h2>