<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 

<center>
<h1>无形的手</h1>
<h2>搜索结果</h2>
<p>股票名称:  {{name}}</p>
<p>股票代码:  {{number}}</p>
<p>开始日期:  {{start}}</p>
<p>结束日期:  {{end}}</p>
<p>最低值:  {{low}}</p>
<p>最高值:  {{high}}</p>
<p>交易总天数:  {{days}}</p>
<p>波动超过2%总天数:  {{BigDays}}</p>
<p>第一阶段区间:  {{stage_1}}</p>
<p>第一阶段天数:  {{first}}</p>
<p>第二阶段区间:  {{stage_2}}</p>
<p>第二阶段天数:  {{second}}</p>
<p>第三阶段区间:  {{stage_3}}</p>
<p>第三阶段天数:  {{third}}</p>
<p>第四阶段区间:  {{stage_4}}</p>
<p>第四阶段天数:  {{fourth}}</p>

<form action="/search/input/" method="get">
	<br><br>
    <input type="submit" value="返回搜索">
</form>

</center> 